AspNetXml/lamps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Sun Mar 19 2017 13:35:39 GMT+0200 (FLE Standard Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Property">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string"></xs:attribute>
            <xs:attribute name="Type" type="xs:string"></xs:attribute>
            <xs:attribute name="Value" type="xs:string"></xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Category" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Property" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string"></xs:attribute>
                        <xs:attribute name="Type" type="xs:string"></xs:attribute>
                        <xs:attribute name="Value" type="xs:string"></xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Category" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Property" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Name" type="xs:string"></xs:attribute>
                              <xs:attribute name="Type" type="xs:string"></xs:attribute>
                              <xs:attribute name="Value" type="xs:string"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PartItem" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Property" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Value" type="xs:string"  minOccurs="0" maxOccurs="unbounded"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Name" type="xs:string"></xs:attribute>
                                    <xs:attribute name="Type" type="xs:string"></xs:attribute>
                                    <xs:attribute name="Value" type="xs:string" use="optional"></xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SlotGroup" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Property" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:attribute name="Name" type="xs:string"></xs:attribute>
                                          <xs:attribute name="Type" type="xs:string"></xs:attribute>
                                          <xs:attribute name="Value" type="xs:string"></xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Slot" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Property" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:attribute name="Name" type="xs:string"></xs:attribute>
                                                <xs:attribute name="Type" type="xs:string"></xs:attribute>
                                                <xs:attribute name="Value" type="xs:string"></xs:attribute>
                                              </xs:complexType>
                                            </xs:element>  
                                          </xs:sequence>
                                          <xs:attribute name="Name" type="xs:string"></xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Name" type="xs:string"></xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="Name" type="xs:string"></xs:attribute>
                              <xs:attribute name="Alias" type="xs:string"></xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string"></xs:attribute>
                        <xs:attribute name="Alias" type="xs:string"></xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string"></xs:attribute>
                  <xs:attribute name="Alias" type="xs:string"></xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string"></xs:attribute>
            <xs:attribute name="Alias" type="xs:string"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string"></xs:attribute>
      <xs:attribute name="Alias" type="xs:string"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>

